version 6.0.0-beta8
framework: net5.0
storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 5.0

// FsLua
nuget Fable.Core ~> 3.2
nuget Fable.DateFunctions ~> 3.6
nuget Fable.SimpleJson ~> 3.18
nuget Thoth.Json ~> 5.1
